@model Match

    <td class="fit">@Model.Time.ToString()</td>
    <td>@ViewBag.winner <br /> (@ViewBag.pl1r)</td>
    <td>@ViewBag.pl2 <br /> (@ViewBag.pl2r)</td>
    <td class="fit">@Model.Comment.ToString()</td>