@model MatchAdd

<div class="modal-header container">
    <h4>Новый матч</h4>
</div>
<div class="modal-body container">
    <form asp-controller="MatchAdd" asp-action="MAPost" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="win">Победитель:</label>
            <select class="form-control col-sm-7" asp-for="win" id="win" name="win">
                <option selected="selected">@null</option>
                @foreach (SelectListItem el in ViewBag.Profile)
                {
                    <option>@el.Text</option>
                }
            </select>
            <span asp-validation-for="win" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="lose">Проигравший:</label>
            <select class="form-control col-sm-7" asp-for="lose" id="lose" name="lose">
                <option selected="selected">@null</option>
                @foreach (SelectListItem el in ViewBag.Profile)
                {
                    <option>@el.Text</option>
                }
            </select>
            <span asp-validation-for="lose" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="time">Проведен:</label>
            <input type="datetime-local" class="form-control col-sm-7" placeholder="Оставьте пустым для установки текущего времени" asp-for="time" id="time" name="time">
            <span asp-validation-for="time" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="comment">Комментарий:</label>
            <input type="text" class="form-control col-sm-7" asp-for="comment" id="comment" placeholder="Необязателен" name="comment">
            <span asp-validation-for="comment" class="text-danger"></span>
        </div>
        <span>@ViewBag.PostResultText </span>
        <input type="submit" class="btn-default col-sm-offset-2 col-sm-2" value="Добавить" />
    </form>
</div>